<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018.
  ~ Copyright Holder : CompactCode - CompactCode BvBa - Belgium
  ~ Copyright : Unless granted permission from CompactCode BvBa  you can not distrubute , reuse  , edit , resell or sell this.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CompactCode_FixProductBreadcrumbs" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Theme"/>
        </sequence>
    </module>
</config>